
html,body{
  height: 100%;
  font-family: 'Cabin' sans-serif;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}

a{text-decoration: none; color:white;}
a:visited{color:white;}
a:active{color:white;}
a:hover{color:white;}

.togglebars{
outline: none !important;
box-shadow: none;
border:none;
padding-top:40px;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ---------------------LANDING PAGE -------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.home{
  background-image: url(img/landingpage/adirondackviews.jpg);
  background-position: center;
  background-size: cover;
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.navbartag{
color: white;
text-align: center;
font-size: 25px;
}

.fluid-index{
z-index: 100;
}

.fas{
color:white;
font-size: 3em;
}

.mainnavlink{
margin: 0px 10px;
}

.nav-link:hover{text-decoration: underline;}

.landingpage{
height:vh;
overflow: hidden;
position: relative;
}

.landingpage img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.togglebars{
  padding-top:50px;
  margin: auto;
  z-index: 99;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
margin-top: 250px!important;
transform: rotate(180deg);
}

.typewritertxt{
  left: 12%;
  top: 40%;
  font-size: 3.5em;
  text-align: center;
}

.typewritertxt a:hover{
  text-decoration: none;
}

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

.fas{
  font-size: 3.5em;
}

.navbartag{
  font-size: 30px;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
  margin-top: 200px!important;
  transform: rotate(180deg);
}  

.typewritertxt{
  left: 30%;
}

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

.fas{
  font-size: 3.5em;
}

.navbartag{
  font-size: 35px;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
  margin-top: 200px!important;
  transform: rotate(180deg);
}  

.typewritertxt{
  left: 36%;
}

}

/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------ABOUT PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.about{
  height: 100%;
  background: black;
  scroll-behavior: smooth;
  }

.about::-webkit-scrollbar {
  width: 4px;
}
.about::-webkit-scrollbar-thumb {
  background: white; 
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

  .abouttext{
    color:white;
    overflow: hidden;
  }
  
  .name{
    text-align: left;
    font-size: 6em;
    font-weight: 500;
    position: fixed;
    top: 30%;
    left: 10%
  }

  .name p{
    margin: 0px;
    padding: 0px;
    line-height: 1.1;
  }

  .name p:first-child{
    margin-left: -4px;
  }

  .name p:last-child{
    padding-left: 3px;
  }

  .bio{
    background: black;
    margin: 40em 1.3em;
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    top: 100vh;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  .bio p:first-child{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
  }

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {
.bio{
  left: 50%;
  right: 10%;
}

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {
  
  .bio{
    left: 40%;
    right: 10%;
  }



}






/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------PICTURES PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */
 
.pictures{
  background: black;
  height:100%;
}

.left_column{
  height: 100vh;
  overflow: auto;
}

.right_column{
  height: 100vh;
  overflow: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}



/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}




/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------EXPLORE PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.explore{
  height: 100%;
  background: black;
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

  .exploretxt{
    display: flex;
    line-height: 100vh;
    justify-content: center;
    font-size: 30px;
    color:white;
  }
  

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

  .exploretxt{
    font-size: 50px;
  }



}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

  .exploretxt{
    font-size: 80px;
  }



}






/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------PROJECTS PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.projects{
  height: 100%;
  background: black;
}


/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.project-item{
  position: relative;
}

/* ZOO */

.zoo-site{
  background: black;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hover-zoo-txt-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  font-size: 1.5em;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease;
}

.hover-zoo-txt-flex::after{
  content: '';
  display: block;
  width: 100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,.5);
}

.hover-zoo-txt{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s ease;
}

.hover-zoo-txt a{
  z-index: 5;
}

.non-hover-zoo-txt{
  color:white;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.zoo-site:hover .hover-zoo-txt:first-of-type{
  background-image: url(img/bg/old_zoo_bg.png);
  background-size: cover;
  background-position: center;
  border-right: 5px solid black;
}

.zoo-site:hover .hover-zoo-txt:last-of-type{
  background-image: url(img/bg/new_zoo_bg.png);
  background-size: cover;
  background-position: center;
}

.zoo-site:hover .non-hover-zoo-txt{
  opacity: 0;
}

.zoo-site:hover .hover-zoo-txt-flex{
  opacity: 1;
}

.zoo-site p:first-child{
  padding: 1em;
}

/* BIOME */

.biome-identification{
  background-color: white;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.biome-identification p{
  padding:1em;
  color:black;
}

.hover-biome-txt{
  color:black;
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  opacity: 0;
  transition: opacity .3s linear;
  left: 0;
  top: 15%;
  display: flex;
  align-items: center;
}

.non-hover-biome-txt{
  color:black;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.non-hover-biome-txt{
  transition: opacity .3s linear;
}

.biome-identification:hover .hover-biome-txt{
  opacity: 1;
}

.biome-identification:hover .non-hover-biome-txt{
  opacity: 0;
}

/* CHARLIE SITE */

.charlie-site{
  background-color:black;
  color:white;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.charlie-site-bg{
  background-image: url(img/bg/charlie-site.jpg);
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity .5s linear;
}

.charlie-site-bg-overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.3)
}

.hover-charlie-site-txt{
  position: absolute;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  opacity: 0;
  padding: 0 1em;
  transition: opacity .3s linear;
  left: 0;
  top: 30%;
  display: flex;
  align-items: center;
}

.non-hover-charlie-site-txt{
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  z-index: 10;
}

.non-hover-charlie-site-txt:hover{
  text-decoration: none;
}

.charlie-tag:hover{
  text-decoration: none;
}

.charlie-site:hover .hover-charlie-site-txt{
  opacity: 1;
}

.charlie-site:hover .non-hover-charlie-site-txt{
  opacity: 0;
}

.non-hover-charlie-site-txt{
  transition: opacity .3s linear;
}

.charlie-site:hover .charlie-site-bg{
  opacity: 1;
}

/* COMING SOON */

.coming-soon{
  background-color:white;
  color:black;
  height: 34vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.coming-soon-txt{
  transition: transform .3s ease-in-out;
}

.coming-soon-txt:hover{
  transform: scale(1.2);
}

.coming-soon{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}


}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {
  
  .zoo-site{
  height: 100vh;
  width: 33vw;
  }
  
  .biome-identification{
  height: 100vh;
  width: 33vw;
  }

  .charlie-site{
  height: 100vh;
  width: 33vw;
  }
  
  .coming-soon{
  height: 100vh;
  width: 100vw;
  font-size: 3rem;
  }

  .hover-zoo-txt-flex{
    flex-direction: column;
    justify-content: space-around;
    font-size: 2em;
  }

  .hover-zoo-txt{
    width: 100%;
    height: 50%;
  }

  .zoo-site:hover .hover-zoo-txt:first-of-type{
    border-right: 0px;
    border-bottom: 5px solid black;
  }

  .hover-biome-txt{
    font-size: 1.5rem;
    top:20%;
  }

  .hover-charlie-site-txt{
    font-size: 1.5rem;
    top:40%;
  }
  

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

  .hover-zoo-txt-flex{
    font-size: 2.3em;
  }

  .hover-biome-txt{
    font-size: 2rem;
    top:15%;
  }

  .hover-charlie-site-txt{
    font-size: 2rem;
  }
}





/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------CONTACT PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.contact{
  background: black;
}



/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.social-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.icon{
  height: 25vh;
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.icon:hover{
  font-size: 120px;
}

.instagram{
  background-image: url(img/bg/instalongest.jpg);
}

.linkedin{
  background-image: url(img/bg/linkedinlong.jpg);
}

.mail{
  background-image: url(img/bg/emaillonger.jpg);
}

.spotify{
  background-image: url(img/bg/spotifylong.jpg);
}

.medium{
  background-image: url(img/bg/medium.png);
}

.github{
  background-image: url(img/bg/github.jpg);
}


}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

  .social-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .icon{
    height: 50vh;
    background-size: cover;
    font-size: 120px;
    line-height: 50vh;
    transition: font-size .2s ease;
  }

  .icon:hover{
    font-size: 140px;
  }

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

  .icon{
    font-size: 140px;
  }

  .icon:hover{
    font-size: 160px;
  }
  
}
