html{
    height: 100%;
    font-family: Motiva-sans, sans-serif;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}

a{text-decoration: none; color:white;}
a:visited{color:white;}
a:active{color:white;}
a:hover{color:white;}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ---------------------LANDING PAGE -------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.home{
  background: linear-gradient(180deg, rgba(99,207,128,1) 35%, rgba(17,37,17,1) 100%);
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.navbartag{
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.fas{
  color:white;
  font-size: 1.5em;
}

#mainNav{
  margin-left: 10%;
  margin-top: -9%;
}

.mainnavlink{
  margin: 0px 10px;
}

.mainnavlink:hover{text-decoration: underline;}

.landingpage{
  height:100%%;
  overflow: hidden;
  position: relative;
}

#mycurrentvibe{
  position: absolute;
  top:10%;
  left:10%;
  width: 80%;
  color:white;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

  .fas{
    font-size: 2em;
  }

  .navbartag{
    font-size: 30px;
  }

  #mainNav{
    margin-left: 10%;
    margin-top: -7.5%;
  }

  .mainnavlink{
    margin: 0px 25px;
  }

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

  .fas{
    font-size: 2.5em;
  }

  .navbartag{
    font-size: 35px;
  }

  #mainNav{
    margin-left: 10%;
    margin-top: -7%;
  }

  .mainnavlink{
    margin: 0px 29px;
  }

  #mycurrentvibe{
    position: relative;
    font-size: 60px;
  }

  .currentviberow{
    height: 100%;
    background: linear-gradient(180deg, rgba(99,207,128,1) 35%, rgba(17,37,17,1) 100%);
  }



}


/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------PICTURES PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.pictures{
  background: linear-gradient(180deg, rgba(99,207,128,1) 35%, rgba(17,37,17,1) 100%);
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}




/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------EXPLORE PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.explore{
  background: linear-gradient(180deg, rgba(99,207,128,1) 35%, rgba(17,37,17,1) 100%);
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}






/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------PROJECTS PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.projects{
  background: linear-gradient(180deg, rgba(99,207,128,1) 35%, rgba(17,37,17,1) 100%);
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}





/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------CONTACT PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.contact{
  background: linear-gradient(180deg, rgba(99,207,128,1) 35%, rgba(17,37,17,1) 100%);
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}



































/
