html,body{
  height: 100%;
  font-family: 'Cabin' sans-serif;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}

a{text-decoration: none; color:white;}
a:visited{color:white;}
a:active{color:white;}
a:hover{color:white;}

.togglebars{
outline: none !important;
box-shadow: none;
border:none;
padding-top:40px;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ---------------------LANDING PAGE -------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.home{
  background-image: url(img/landingpage/adirondackviews.jpg);
  background-position: center;
  background-size: cover;
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.navbartag{
color: white;
text-align: center;
font-size: 25px;
}

.fluid-index{
z-index: 100;
}

.fas{
color:white;
font-size: 3em;
}

.mainnavlink{
margin: 0px 10px;
}

.nav-link:hover{text-decoration: underline;}

.landingpage{
height:vh;
overflow: hidden;
position: relative;
}

.landingpage img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.togglebars{
  padding-top:50px;
  margin: auto;
  z-index: 99;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
margin-top: 250px!important;
transform: rotate(180deg);
}

.typewritertxt{
  left: 12%;
  top: 40%;
  font-size: 3.5em;
  text-align: center;
}

.typewritertxt a:hover{
  text-decoration: none;
}

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

.fas{
  font-size: 3.5em;
}

.navbartag{
  font-size: 30px;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
  margin-top: 200px!important;
  transform: rotate(180deg);
}  

.typewritertxt{
  left: 30%;
}

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

.fas{
  font-size: 3.5em;
}

.navbartag{
  font-size: 35px;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
  margin-top: 200px!important;
  transform: rotate(180deg);
}  

.typewritertxt{
  left: 36%;
}

}

/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------ABOUT PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.about{
  height: 100%;
  background: black;
  scroll-behavior: smooth;
  }


/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

  .abouttext{
    color:white;
    overflow: scroll;
  }
  
  .name{
    text-align: left;
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    top: 4%;
    left: 15%;
  }

  .name p{
    margin: 0px;
    padding: 0px;
    line-height: 1.1;
  }

  .name p:first-child{
    margin-left: -4px;
  }

  .name p:last-child{
    padding-left: 3px;
  }

  .bio{
    background: black;
    margin: 40em 1.3em;
    font-size: 20px;
    font-weight: 200;
  }

  .bio p:first-child{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;

  }

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}






/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------PICTURES PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */
 
.pictures{
  background: black;
  height:100%;
}

.left_column{
  height: 100vh;
  overflow: auto;
}

.right_column{
  height: 100vh;
  overflow: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}



/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}




/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------EXPLORE PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.explore{
  height: 100%;
  background: black;
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

  .exploretxt{
    display: flex;
    line-height: 100vh;
    justify-content: center;
    font-size: 30px;
    color:white;
  }
  

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

  .exploretxt{
    font-size: 50px;
  }



}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

  .exploretxt{
    font-size: 80px;
  }



}






/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------PROJECTS PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.projects{
  height: 100%;
  background: black;
}


/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.collages{
  background: linear-gradient(180deg, rgba(103,200,250,1) 0%, rgba(0,23,168,1) 100%);
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collages:hover .collagestxt{
  
}

.collagestxt{
  padding: 1em;
}

.zoo-site{
  background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,210,1) 50%, rgba(252,176,69,1) 100%);
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoo-site p{
  padding: 1em;
}

.biome-identification{
  background: linear-gradient(180deg, rgba(67,170,111,1) 0%, rgba(59,255,55,1) 100%);
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.biome-identification p{
  padding:1em;
}

.coming-soon{
  background: linear-gradient(180deg, rgba(238,152,7,1) 0%, rgba(255,220,51,1) 100%);
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;}

.project-item p{
  color:white;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  display: inline-block;
  position: absolute;
}

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

  .collages{
  height: 100vh;
  }
  
  .zoo-site{
  height: 100vh;
  }
  
  .biome-identification{
  height: 100vh;
  }
  
  .coming-soon{
  height: 100vh;
  }



}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

  

}





/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------CONTACT PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.contact{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}



/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.social-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.instagram{
  height: 25vh;
  background-image: url(img/bg/instalongest.jpg);
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.instagram:hover{
  font-size: 120px;
}

.linkedin{
  height: 25vh;
  background-image: url(img/bg/linkedinlong.jpg);
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.linkedin:hover{
  font-size: 120px;
}

.mail{
  height: 25vh;
  background-image: url(img/bg/emaillonger.jpg);
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.mail:hover{
  font-size: 120px;
}

.spotify{
  height: 25vh;
  background-image: url(img/bg/spotifylong.jpg);
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.spotify:hover{
  font-size: 120px;
}

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

  .social-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .instagram{
    height: 100vh;
    background-image: url(img/bg/instalongest.jpg);
    background-size: cover;
    font-size: 120px;
    line-height: 100vh;
    transition: font-size .2s ease;
  }

  .instagram:hover{
    font-size: 140px;
  }
  
  .linkedin{
    height: 100vh;
    background-image: url(img/bg/linkedinlong.jpg);
    background-size: cover;
    font-size: 120px;
    line-height: 100vh;
    transition: font-size .2s ease;
  }

  .linkedin:hover{
    font-size: 140px;
  }
  
  .mail{
    height: 100vh;
    background-image: url(img/bg/emaillonger.jpg);
    background-size: cover;
    font-size: 120px;
    line-height: 100vh;
    transition: font-size .2s ease;
  }

  .mail:hover{
    font-size: 140px;
  }
  
  .spotify{
    height: 100vh;
    background-image: url(img/bg/spotifylong.jpg);
    background-size: cover;
    font-size: 120px;
    line-height: 100vh;
    transition: font-size .2s ease;
  }

  .spotify:hover{
    font-size: 140px;
  }
  

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

  .instagram{
    height: 100vh;
    background-image: url(img/bg/instalongest.jpg);
    background-size: cover;
    font-size: 140px;
  }

  .instagram:hover{
    font-size: 160px;
  }
  
  .linkedin{
    height: 100vh;
    background-image: url(img/bg/linkedinlong.jpg);
    background-size: cover;
    font-size: 140px;
  }

  .linkedin:hover{
    font-size: 160px;
  }
  
  .mail{
    height: 100vh;
    background-image: url(img/bg/emaillonger.jpg);
    background-size: cover;
    font-size: 140px;
  }

  .mail:hover{
    font-size: 160px;
  }
  
  .spotify{
    height: 100vh;
    background-image: url(img/bg/spotifylong.jpg);
    background-size: cover;
    font-size: 140px;
  }

  .spotify:hover{
    font-size: 160px;
  }

}



































/
