html,body{
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}

a{text-decoration: none; color:white;}
a:visited{color:white;}
a:active{color:white;}
a:hover{color:white;}

.togglebars{
outline: none !important;
box-shadow: none;
border:none;
padding-top:40px;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ---------------------LANDING PAGE -------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.home{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.navbartag{
color: white;
text-align: center;
font-size: 25px;
}

.fas{
color:white;
font-size: 3em;
}

.mainnavlink{
margin: 0px 10px;
}

.nav-link:hover{text-decoration: underline;}

.landingpage{
height:100%%;
overflow: hidden;
position: relative;
}

.togglebars{
  padding-top:50px;
  margin:auto;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
margin-top: 250px!important;
transform: rotate(180deg);
}

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

.fas{
  font-size: 3.5em;
}

.navbartag{
  font-size: 30px;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
  margin-top: 200px!important;
  transform: rotate(180deg);
}  

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

.fas{
  font-size: 3.5em;
}

.navbartag{
  font-size: 35px;
}

.togglebars.navbar-toggler[aria-expanded="true"]{
  margin-top: 200px!important;
  transform: rotate(180deg);
}  

}

/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------ABOUT PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.about{
  height: 100%;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  }

  .abouttext{
    display: flex;
    line-height: 100vh;
    justify-content: center;
    font-size: 60px;
    color:white;
  }

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}






/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------PICTURES PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */
 
.pictures{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  height:100%;
}

.left_column{
  height: 100vh;
  overflow: auto;
}

.right_column{
  height: 100vh;
  overflow: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}



/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}




/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------EXPLORE PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.explore{
  height: 100%;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}

.exploretxt{
  display: flex;
  line-height: 100vh;
  justify-content: center;
  font-size: 60px;
  color:white;
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}






/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------PROJECTS PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.projects{
  height: 100%;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}

.projectstext{
  display: flex;
  line-height: 100vh;
  justify-content: center;
  font-size: 60px;
  color:white;
}

/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {



}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {


}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {


}





/* ============================================================ */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ........................................................... */
/* ---------------------CONTACT PAGE -------------------*/
/* ........................................................... */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ============================================================ */

.contact{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}



/* ------------SM--------------- */
/* -----------MOBILE------------ */

@media screen and (min-width: 320px) {

.social-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.instagram{
  height: 25vh;
  background-image: url(img/bg/instalongest.jpg);
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.instagram:hover{
  font-size: 120px;
}

.linkedin{
  height: 25vh;
  background-image: url(img/bg/linkedinlong.jpg);
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.linkedin:hover{
  font-size: 120px;
}

.mail{
  height: 25vh;
  background-image: url(img/bg/emaillonger.jpg);
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.mail:hover{
  font-size: 120px;
}

.spotify{
  height: 25vh;
  background-image: url(img/bg/spotifylong.jpg);
  background-size: cover;
  font-size: 100px;
  line-height: 25vh;
  text-align: center;
  transition: font-size .2s ease;
}

.spotify:hover{
  font-size: 120px;
}

}

/* -------------MD-------------- */
/* -----------TABLET------------ */

@media screen and (min-width: 768px) {

  .social-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .instagram{
    height: 100vh;
    background-image: url(img/bg/instalongest.jpg);
    background-size: cover;
    font-size: 120px;
    line-height: 100vh;
    transition: font-size .2s ease;
  }

  .instagram:hover{
    font-size: 140px;
  }
  
  .linkedin{
    height: 100vh;
    background-image: url(img/bg/linkedinlong.jpg);
    background-size: cover;
    font-size: 120px;
    line-height: 100vh;
    transition: font-size .2s ease;
  }

  .linkedin:hover{
    font-size: 140px;
  }
  
  .mail{
    height: 100vh;
    background-image: url(img/bg/emaillonger.jpg);
    background-size: cover;
    font-size: 120px;
    line-height: 100vh;
    transition: font-size .2s ease;
  }

  .mail:hover{
    font-size: 140px;
  }
  
  .spotify{
    height: 100vh;
    background-image: url(img/bg/spotifylong.jpg);
    background-size: cover;
    font-size: 120px;
    line-height: 100vh;
    transition: font-size .2s ease;
  }

  .spotify:hover{
    font-size: 140px;
  }
  

}

/* -------------LG-------------- */
/* -----------DESKTOP------------ */


@media screen and (min-width: 992px) {

  .instagram{
    height: 100vh;
    background-image: url(img/bg/instalongest.jpg);
    background-size: cover;
    font-size: 140px;
  }

  .instagram:hover{
    font-size: 160px;
  }
  
  .linkedin{
    height: 100vh;
    background-image: url(img/bg/linkedinlong.jpg);
    background-size: cover;
    font-size: 140px;
  }

  .linkedin:hover{
    font-size: 160px;
  }
  
  .mail{
    height: 100vh;
    background-image: url(img/bg/emaillonger.jpg);
    background-size: cover;
    font-size: 140px;
  }

  .mail:hover{
    font-size: 160px;
  }
  
  .spotify{
    height: 100vh;
    background-image: url(img/bg/spotifylong.jpg);
    background-size: cover;
    font-size: 140px;
  }

  .spotify:hover{
    font-size: 160px;
  }

}



































/
